includes:
    - %rootDir%/../../../phpstan/base_config.neon
parameters:
    level: 8
    parallel:
        processTimeout: 300.0
        maximumNumberOfProcesses: 2
    paths:
        - %currentWorkingDirectory%
    ignoreErrors:
        - '#^PHPDoc tag @throws with type .* is not subtype of Throwable$#'
    excludePaths:
        analyseAndScan:
            - %currentWorkingDirectory%/vendor
